@import url("./theme.css");

body {
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-color:var(--background);
    
}


header {
    display: flex;
    background-color:var(--yellow);
    flex-direction: column;
    max-width: 50%;
    padding: 30px;
    justify-content: space-around;

}


ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: none;
    background-color: var(--yellow);
}

li {
    flex-direction: column;
    justify-content: space-around;
    margin: 40px;
}


