@import url(./theme.css);

html, body {
    margin: 0;
    height: 100%;
    color: var(--font-color);
}

main {
    display: flex;
    /* margin: 200px 500px 200px 300px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.adress {
    align-self: flex-start;
    margin-left: 20%;
}

.main_blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
}

.div-main-blocks {
    display: flex;
    flex-direction: column;
}

.div-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
}

.div-switchs {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    box-shadow: 2px 2px 5px;
    border-radius: 25px;
    height: 60px;
    width: 400px;
    margin: 20px 20px 20px 0px;
    
}

.div-switchs > img {
    width: 40px;
    
}

.switch-items {
    display: flex;
    margin: 10px;
    align-items: center;
}

.time-table {
    background-color: var(--yellow);
    border-radius: 25px;
    margin-top: 20px;
    width: 360;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.time-table > h2 {
    margin: 0px 80px 0px 80px;
}

.time-table .material-symbols-outlined {
    font-size: 40px;
    align-self: flex-end;
    margin-right: 10px;
} 

body .dark-mode {
    background-color: #252525;
    color: var(--background);
}

span .time-digit .dark-mode {
    color: #252525;
}
