@import url("./theme.css");

body {
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-color:var(--background);
    max-height: 100vw;
    
}


header {
    display: flex;
    background-color:var(--yellow);
    flex-direction: column;
    padding: 30px;
    justify-content: space-evenly;

}


button {
    margin: 20px 10px;
    border: none;
    background-color: var(--yellow);
}


