main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.main_blocks {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.div-main-blocks {
    max-width: 100%;

    display: flex;
    flex-direction: column;

    position: relative;
}

.breadcrumbs {
    position: absolute;
    top: -20px;
    left: 0;
}

.div-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
}

.div-switchs {
    width: 400px;
    max-width: 100%;
    height: 60px;
    margin: 20px 20px 20px 0px;

    box-shadow: 2px 2px 5px;
    border-radius: 25px;
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.div-switchs > img {
    width: 40px;
    
}

.switch-items {
    display: flex;
    margin: 10px;
    align-items: center;
}

.time-table {
    background-color: var(--yellow);
    border-radius: 25px;
    margin-top: 20px;
    width: 360;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.time-table > h2 {
    margin: 0px 80px 0px 80px;
}

.time-table .material-symbols-outlined {
    font-size: 40px;
    align-self: flex-end;
    margin-right: 10px;
} 

body .dark-mode {
    background-color: #252525;
    color: var(--background);
}

.dark-mode span.time-digit{
    color: #252525;
}

span {
    font-size: x-large;

}

span.time-digit {
    background-color: var(--background);
    border-radius: 5px;
    padding: 3px;
}
