body {
    margin: 0px;

    background-color:var(--background);

    display: flex;
    flex-direction: row;
}

header {
    width: 20%;

    background-color:var(--yellow);
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ul {
    background-color: var(--yellow);
    border: none;

    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    align-content: center;
}

li {
    margin: 40px;
    
    flex-direction: column;
    justify-content: space-around;
}


@media(max-width: 660px) {
    body {
        flex-direction: column;
        gap: 40px;
    }

    header {
        width: 100%;
        padding: 0;
    }
    
    header ul {
        flex-direction: row;
        flex-wrap: wrap;
    }
}