span {
    font-size: x-large;
}

.time-digit {
    background-color: var(--background);
    padding: 6px;
    border-radius: 8px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

div.main-blocks {
    background-color: var(--yellow);
    padding: 30px;
    border-radius: 25px;
    position: relative;
    
    width: 95%;
    max-width: 820px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time-block{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

label {
    font-weight: 600;
    font-size: x-large;
}

h3.breadcrumbs {
    position: absolute;
    top: -30px;
}

#submit-btn {
    border: none;
    background-color: var(--background);
    font-family: "Karla", sans-serif;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    align-self: center;
}

#submit-btn:hover {
    background-color: var(--font-color);
    color: var(--background);
    cursor: pointer;
}

.time-input {
    background-color: var(--background);
    font-family: "Karla", sans-serif;
    border-color: inherit ;
    margin: 0px 15px 0px 15px;
    font-size: large;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;

} 

body .dark-mode {
    background-color: #252525;
    color:antiquewhite;
}

.dark-mode span.time-digit{
    color: #252525;
}

input #submit-btn .dark-mode {
    background-color: aliceblue;
}